* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: linear-gradient(to right, #4daf54, #3d8880);
    height: 100vh;
    color: #fff;
}
:root {
    --primeri--color:#4daf54;
}
.cart {
    width: 320px;
    height: 400px;
    background-color: #272d40;
    margin: 100px auto;
    position: relative;
    padding: 20px 20px;
    border-radius: 8px;
    font-size: 16px;
}
.cart__heart,.cart__cart {
    display: inline-block;
    font-size: 1.4rem;
    position: relative;
    z-index: 1;
}
.cart__heart:hover i,.cart__cart:hover i {
    cursor: pointer;
}
.cart__heart {
    margin-right: 220px;
}
.cart__img {
    width:90% ;
}
.cart__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s ;
}
.cart__title{
 color: var(--primeri--color);
 font-weight: bold;
 font-size: 1.5rem;
 text-align: center;
}
.cart__price{
    font-weight:700;
    font-size: 1.4rem;  
    text-align: center;
}
.cart__title,.cart__price {
    transition: 0.5s;
}
.cart__size,.cart__price,.cart__color{
    margin-bottom: 8px;
}
.cart__size h2{
    font-weight: bold; 
    margin-right: 10px; 
    display: inline-block;
}
.cart__size-size {
    background-color: #dadada;
    color: black;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 0 2px;
}
.cart__color h2 {
    margin-right: 15px;
}
.cart__color span,h2 {
  display: inline-block;
}

.cart__color-green,.cart__color-red,.cart__color-black  {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-right: 6px;
    cursor: pointer;
}
.cart__color-green {
    background-color: green;
}
.cart__color-red {
  background-color: red;
}
.cart__color-black {
  background-color:black;
}
.cart__btn {
    display: inline-block;
    outline: none;
    border: none;
    width: 90px;
    height: 30px;
    padding: 2px 5px;
    text-align: center;
    background-color: var(--primeri--color);
    border-radius: 6px;
    line-height: 25px;
    font-weight: 700;
    font-size: 0.9rem;
    cursor: pointer;
}
.cart:hover img {
  transform: translateY(-100px) rotate(-26deg);

}
.cart:hover .cart__title , .cart:hover .cart__price {
    transform: translate(-32px,-80px);
}
.cart:hover .cart__price {
    transform: translate(-110px,-80px);
}
.cart__size {
    margin-top: 200px;
    visibility: hidden;
    opacity: 0;
    transition: 0.6s;
    transition-delay: 0.2s;
    cursor: pointer;
}
.cart:hover .cart__size {
    margin-top: -10px;
    visibility: visible;
    opacity: 1;
} 